.homeContainer {
    width: 100%;
    
    display:flex;
    flex-direction: column;
    
    
    
    
}

.image {
    width: 100%;
    filter: brightness(40%);
    
}

.background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('/public/images/laptop.jpg');
    background-position: center;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    
}


.background 


.hero {
    width: 100%;
}

.heroText {
    position: absolute;
    right: 50;
    
    text-align: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    
    
}

.sectionsContainer{ 
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutMe {
    text-align: left;
    padding: 30px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: center;
}

.aboutMe p {
    text-align: left;
    margin: 10px 0px;
}

.contactLink {
    color: black;
}

.sectionName {
    width: fit-content;
}

.line {
    width: 100%;
    height: 2px;
    background-color: lightgrey;
}


.aboutMe h3 {
    font-weight: lighter;
}

.aboutMe p {
    font-size: 16px;
    width: 100%;
}

.projects {
    text-align: left;
    padding: 0px 30px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self: center;
    width: 95%;
}


.projectsGrid {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.project {
    padding: 30px;
    text-align: left;
    padding: 40px ;
    background-color: #2F2F2F;
    width: 100%;
    color: white;
    margin: 15px 0px;    
    border-radius: 13px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.11), 0 2px 2px rgba(0,0,0,0.11), 0 4px 4px rgba(0,0,0,0.11), 0 6px 8px rgba(0,0,0,0.11), 0 8px 16px rgba(0,0,0,0.11);
}

.project:hover {
    background-color: #282828;
    transition: 0.5s;
    box-shadow: 1.8px 1.8px 2.2px rgba(0, 0, 0, 0.052), 4.3px 4.4px 5.3px rgba(0, 0, 0, 0.067), 8px 8.3px 10px rgba(0, 0, 0, 0.073), 14.3px 14.7px 17.9px rgba(0, 0, 0, 0.075), 26.7px 27.6px 33.4px rgba(0, 0, 0, 0.073), 64px 66px 80px rgba(0, 0, 0, 0.07);
}

.projects h3 {
    font-weight: lighter;
}

.projects h4 {
    font-weight: lighter;
}

.projectDesc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projectDesc h2 {
    font-weight: lighter;
}

.projectDesc p {
    font-size: 15px;
}

.technologies {
    filter: brightness(70%)
}

.projectDesc ul {
    list-style: none;
}

.projectLink {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    color: white;
    position: relative;

}

.projectLink::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -3px;
}

.projectLink:hover::after {
    width: 100%;
    transition: 0.3s;
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    align-items: center;
    
}

.formBox {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    gap: 10px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.429);
    border-radius: 10px;
    width: 100%;
    margin: 0px 0px 30px 0px;
}

.title {
    text-align: center;
    font-weight: lighter;
    padding: 10px;
}

.formBox input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0px 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.formBox textarea {
    height: 120px;
    resize: none;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 10px 15px;
    

}

.formBox button {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    background-color: (#8693AB, #BDD4E7);

}

.formBox button:hover {
    background-color: rgb(241 245 249);
}


.lineSpace {
    width: 100%;
    height: 3px;
    border-radius: 5px;
}

.footer {
    padding: 30px;
    background-color: #2F2F2F;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer h3 {
    font-weight: lighter;
    color: white;
    filter: brightness(90%);
}

.socials {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    list-style: none;
    width: 100%;
    
}







@media screen and (min-width: 800px) {
    .aboutMe {
        width: 50%;
    }

    .projects {
        align-items: center;
        width: 95%;
    }

    .projectsGrid {
        width: 50%;
    }

    .formBox {
        width: 50%;
    }
}
