.header {
   
    background-color: white;
    padding: 30px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}

.navigation h3 {
    font-weight: lighter;
}

.navMenu {
    display: flex;
    justify-content: space-around;
    width: 10%;
}

.navList {
    list-style: none;
}

.navLink {
    position: relative;
    text-decoration: none;
    color: black;
}

.navLink:hover {
   
    cursor: pointer;
}

.navLink::after {
    content: "";
    position: absolute;
    background-color: lightgreen;
    height: 4px;
    width: 0%;
    left: 0;
    bottom: -3px;
}

.navLink:hover::after {
    width: 100%;
    transition: 0.3s;
}

@media screen and (max-width: 800px) {
    .navMenu {
        display: none;
    }
}